DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/zapatos
API_TITLE=AI Reconocimiento Zapatos
API_VERSION=0.1.0
CAPTURES_DIR=../data/captures
PRODUCT_IMAGES_DIR=../data/product_images
